		.card_items{
        	display:block;
            padding: 0px;
            padding-bottom: 30px;
            background-color: white;
            border: 0px solid black;
            border-radius: 8%;
            opacity: 0.5;
            height:700px;
        }
        .card_items:hover{
            opacity: 0.9;
            background-color: rgb(230,230,230);
        }
        .card_items:hover .main_block>div>p{
        	color: red;
        }
        .card_items>.header_block{
        	display:block;
        	padding:0px;
            margin: 0px;
            height:100px;
            background-color: red;
        }
        .card_items>div>h1{
        	text-align: center;
        }
        .card_items>.main_block{
        	display:block;
        	height:130px;
        	background-color:aqua;
        	margin-bottom:10px;
        	overflow:hidden;
        }
        .card_items>.main_block>div>p{
        	padding: 0px;
            margin-left: 10px;
        }
        .card_items>p{
            padding: 0px;
            margin-left: 10px;
        }
        .card_items>img{
        	width:300px;
        }