@charset "UTF-8";
.container{
	display:block;
	width: 900px;
	background-color: white;
	border-radius: 20px;
	border:0px solid auto;
	margin: 80px auto;
	padding-bottom: 30px;
	
}
.container>h2{
	padding-top: 30px;
}
.container>table{
	margin-top: 30px;
}
.detailtable{
	border: 2px solid black;
	border-radius: 5px;
	width: 800px;
	height : 800px;
	margin: 0px auto;
}
.detailtable td{
	border-top : 1px solid black;
}

/*제목*/
.detailtable tr:first-child>td:first-child{
	border-top : 0px solid black;
	height: 70px;
	background-color: rgb(239,239,239);
	font-weight: bold;
	width: 280px;
}
.detailtable tr:first-child>td{
	border-top : 0px solid black;
}
.detailtable tr:nth-child(2)>td{
	height: 140px;
}
/*이미지*/
.detailtable tr:first-child>td:last-child{
	border-left : 1px solid black;
	width: 500px;
}
.detailtable tr:first-child>td:last-child>img{
	width: 300px;
	margin: 0px;
	padding : 0px;
}

.detailtable>*{
	text-align: center;
}
/*장르*/
.detailtable tr:nth-child(3)>td{
	height: 70px;
	background-color: rgb(239,239,239);
	font-weight: bold;
}
.detailtable tr:nth-child(4)>td{
	height: 140px;
}
/*줄거리*/
.detailtable tr:nth-child(5)>td{
	height: 70px;
	background-color: rgb(239,239,239);
	font-weight: bold;
}
.container>*{
	text-align: center;
}
/*버튼*/
.container>div{
	width: 300px;
	height: 40px;
	text-align: center;
	margin: 20px auto;
}
.container>div>button{
	width: 100px;
	height: 40px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
}
.container>div>button>a{
	text-decoration: none;
	color: black;
	size: 25pt;
}